%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;    
}


%pill {
    padding: 2px;                    
    padding-left: 9px;
    padding-right: 11px;
    border-radius: 50px;                    
    font-family: 'Space Mono', monospace;                
    font-size: 1rem;     
    color: color(text-light);
}

%content-box {
    display: flex;    
    flex-wrap: wrap;    
    align-content: flex-start;
    align-items: stretch;
    background-color: color(text-light);
    border-radius: 25px;
    padding-bottom: 35px;
    margin-top: 2rem;
}


.content-box {
    z-index: 2;
}

#landing {
    width: 100%;
    height: 100vh;    //
    color: color(text-light);
    @extend %flex-center;    
    text-align: center;
    
    #hello {
        position: absolute;
        padding: 10px;
        font-size: 10rem;
        margin: -5% 0;        
        z-index: -4;//
        p {
            font-size: 1.2rem;
        }
        #landing-name {
            font-family: 'Space Mono', monospace;
            font-size: 3rem;
        }
        a {
            color: color(text-light);
        }
    }
}

.content {
    top: 100vh;
    width: 99vw;        
    z-index: -4;
    @extend %flex-center;    
    flex-direction: row;
    margin-bottom: 200px;  
    z-index: 2;
    .section-title{
        width: 100%;
        font-size:3rem;        
        color: color(primary-lighter);
        font-weight: bold;        
    }   
    .section-more{
        width: 100%;
        span{            
            font-size:1.1rem;
            color: color(text-light);
            font-weight: bold;            
            padding: 10px 20px 10px 10px;                        
            position: absolute;
            right: 20rem;            
            background-color: color(darkest);
            clip-path: polygon(0 0, 91% 6%, 95% 94%, 0 88%);            
        }               
    }   
    .projects {
        @extend %content-box;
          
        h1{
            color: color(primary-lighter);
            font-size: 3rem;
        }
        div {            
            margin: 15px;
            padding: 5px;
        }
        .project-box-wrapper {
            display: flex;    
            flex-wrap: wrap;                                    
        }
        .project-box {
            max-width: 370px;
            box-shadow:0px 13px 21px -5px rgba(0, 0, 0, 0.3);
            border-style: solid;
            border-width: 1px;
            border-radius: 10px;
            border-color: color(contour);
            .project-box-title {
                font-size: 1.3rem;
                font-weight: bold;                                
            }
            .project-box-description {
                margin-bottom: 0px;
            }
            .project-box-tags {
                font-size: 1.3rem;                
                margin-top: 0px;
                span {                                        
                    @extend %pill;                                               
                }
                .primary-skill-tag{
                    background-color: color(primary-light);
                }              
                .secondary-skill-tag{
                    background-color: color(primary-lighter);
                }              
                .tetriary-skill-tag{
                    background-color: color(contour);
                }        
            }      
            .project-box-stats{                
                margin-top: -15px;
                display: flex;    
                flex-direction: row;
                justify-content: flex-end;    
                align-items: baseline;
                padding-right: 20px;
                .updated {
                    font-size: 0.6rem;
                    padding-right: 5px;
                }                
            }      
            .project-box-more {
                width: 85%;
                //margin-top: -15px;
                display: flex;    
                flex-direction: row;
                justify-content: flex-end;    
                align-items: baseline;
                .updated {
                    font-size: 0.6rem;
                    padding-right: 5px;
                }             
                .project-box-links {
                    @extend %pill;
                    background-color: color(darkest);
                    //margin-right: 3rem;
                    margin-left: 0.3rem;
                }                
            }            
        }
    }    

    .skills {
        @extend %content-box;
        background-color: rgba(0, 0, 0, 0.3);
    }
}